/* a minimalist set of CSS resets */
@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');

/* default to border-box */
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  background-color: #292b2c;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: 'Sigmar', cursive;
  line-height: 1.5;
  margin: 0;
}

button {
  font-family: 'Sigmar', cursive;
}

input {
  font-family: 'Sigmar', cursive;
}

#content {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(17, 1fr);
  justify-content: center;
  align-items: center;
}

#amount {
  grid-column: 5/14;
  font-size: 54pt;
  color: white;
  text-align: center;
  margin-top: 10vh;
  margin-bottom: 10vh;
  display: grid;
  align-items: center;
  justify-items: center;
}

button#add {
  grid-column: 3/16;
  height: 5vh;
  width: 100%;
  border-radius: 20px;
  font-size: 16pt;
  border: none;
  background: #ffc107;
  color: #292b2c;
}

#expense-input {
  grid-column: 3/16;
  width: 100%;
  margin-top: 30px;
}

#expenses-list {
  grid-column: 2/17;
  display: grid;
  justify-items: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 50px;
  row-gap: 10px;
}

.expense {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 100%;
  align-items: center;
}

.expense-img {
  width: 60%;
  grid-column: 1/3;
}

.expense-amount {
  text-align: right;
  grid-column: 11/13;
}

.expense-name {
  font-size: 11pt;
  color: white;
  grid-column: 3/11;
}

#expense-name {
  width: 100%;
  border: none;
  border-radius: 0;
}

#expense-amount {
  width: 100%;
  border: none;
  border-radius: 0;
}


#add-expense {
  width: 100%;
  background-color: #0d6efd;
  color: white;
  border: none;
  height: 5vh;
}

.categories {
  grid-column: 2/18;
  overflow-x: scroll;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  gap: 1rem;
  padding: 1rem;
  margin: 1rem;
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
  overflow-y: hidden;
  margin: 0;
  padding: 0;
  margin-top: 20px;
  padding-right: 20px;
}

.category-img {
  width: 50px;
  padding: 5px;
  border-radius: 5px;
}